<div>
  <div class="row has-text-centered">
    <div class="title is-2 anchored" id="{{ page.about.title | strip_html | slugify }}">{{ page.about.title }}</div>
    <div class="description is-size-5">{{ page.about.description }}</div>
  </div>
  <div class="subtitle is-4 has-text-centered">{{ page.about.subtitle }}</div>
  <div id="about_image_carousel" class="carousel has-text-centered">
    {% for item in page.carousel_images%}
      <div class="carousel-item">
          <figure class="image is-16by9 is-covered">
            <img src="{{ item.image }}" alt="">
          </figure>
          <div>
            <div class="subtitle is-5" style="margin-bottom:0px;">{{ item.title }}</div>
            <div class="description">{{ item.description }}</div>
          </div>
      </div>
      {% endfor %}
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.4/dist/js/bulma-carousel.min.js"></script>
<script>
  bulmaCarousel.attach('#about_image_carousel', {
    slidesToScroll: 1,
    slidesToShow: 3,
    navigation: true,
    navigationSwipe: true,
    loop: true,
    autoplay: true,
    autoplaySpeed: 3000, //Time (ms) between each transition when autoplay is true
    duration: 600 //Transition animation duration (in ms)
  });
</script>
