<div class="columns  is-vcentered is-centered">
    <div class="column is-one-third">
        <div  class="card section">
            <div class="has-text-centered">
              <h3 class="subtitle is-6 has-text-grey-light">{{ page.download_callout_subtitle}}</h3>
              <h2 class="title">{{ page.download_callout_title}}</h2>
              <p>{{ page.download_callout_description }}</p>
              <a  href="" class="button is-small">
                  <span>{{ page.download_callout_button_text }}</span>
                  <span class="icon is-small">
                     <i class="fas fa-angle-right"></i>
                  </span>
              </a>
            </div>
        </div>
    </div>
    <div class="column">
        <div  class="card section community-card">
            <p class ="comminuty-card-bg has-text-light has-text-left"> SLICER <br> COMMUNITY </p>
            <div class="has-text-centered">
              <h2 class="title">{{ page.community_callout_title}}</h2>
              <hr class="hr">
              <p>{{ page.community_callout_description }}</p>
              <a  href="" class="button is-small">
                  <span>{{ page.community_callout_button_text }}</span>
                  <!-- <span class="icon is-small">
                     <i class="fas fa-angle-right"></i>
                  </span> -->
              </a>
            </div>
        </div>
    </div>
</div>
