<div class="columns  is-vcentered is-centered">
    <div class="column is-one-third">
        <div  class="card section callout-card">
            <div class="has-text-centered">
              <h3 class="subtitle is-6 has-text-grey-light">{{ page.download_callout_subtitle}}</h3>
              <div class="title is-2">{{ page.download_callout_title}}</div>
              <div  class="description">{{ page.download_callout_description }}</div>
              <a  href="" class="button is-small">
                  <span>{{ page.download_callout_button_text }}</span>
                  <span class="icon is-small">
                     <i class="fas fa-angle-right"></i>
                  </span>
              </a>
            </div>
        </div>
    </div>
    <div class="column">
        <div  class="card section callout-card comminuty-card-bg">
            <div class="content has-text-centered">
              <div class="subtitle is-2"><br>{{ page.community_callout_title}}</div>
              <hr class="hr">
              <div  class="description"> {{ page.community_callout_description }} <br> </div>
              <a  href="" class="button is-small">
                  <span>{{ page.community_callout_button_text }}</span>
                  <!-- <span class="icon is-small">
                     <i class="fas fa-angle-right"></i>
                  </span> -->
              </a>
            </div>
        </div>
    </div>
</div>
