<div class="columns  is-vcentered is-centered">
    <div class="column">
        <div  class="card section callout-card community-card-bg">
            <div class="content has-text-centered">
              <div class="subtitle is-2">{{ page.community_callout_title}}</div>
              <hr class="hr">
              <div  class="description"> {{ page.community_callout_description }} <br> </div>
              <a  href="" class="button is-small">
                  <span>{{ page.community_callout_button_text }}</span>
                  <!-- <span class="icon is-small">
                     <i class="fas fa-angle-right"></i>
                  </span> -->
              </a>
            </div>
        </div>
    </div>
</div>
