<div class="columns  is-vcentered is-centered">
    <div class="column has-text-centered">
        <div class="subtitle is-2 anchored" id="{{ page.community.title | strip_html | slugify }}">{{ page.community.title }}</div>
        <div class="description is-size-5">{{ page.community.description }}</div>
        <a href="{{ page.community.button_link }}" onclick="this.blur();"   class="button is-small">
            <span>{{ page.community.button_text }}</span>
            <!--<span class="icon is-small">
               <i class="fas fa-angle-right"></i>
            </span>-->
        </a>
    </div>
</div>
