<div class="columns  is-vcentered is-centered">
    <div class="column">
      <div class="row has-text-centered">
        <div class="subtitle is-2 anchored" id="{{ page.commercial_use_title | strip_html | slugify }}">{{ page.commercial_use_title }}</div>
        <div class="description is-size-5">{{ page.commercial_use_description }}</div>
        <a  href="{{ page.commercial_use_page_url }}" class="button is-small">
            <span>{{ page.commercial_use_button_text }}</span>
            <span class="icon is-small">
               <i class="fas fa-angle-right"></i>
            </span>
        </a>
      </div>
    </div>
</div>
