    <div class="column">
      <div class="row has-text-centered">
<div class="columns is-vcentered is-centered">
        <div class="subtitle is-2 anchored" id="{{ page.commercial_use.title | strip_html | slugify }}">{{ page.commercial_use.title }}</div>
        <div class="description is-size-5">{{ page.commercial_use.description }}</div>
        <a href="{{ page.commercial_use.page_url }}" class="button is-small">
            <span>{{ page.commercial_use.button_text }}</span>
            <span class="icon is-small">
               <i class="fas fa-angle-right"></i>
            </span>
        </a>
      </div>
    </div>
</div>
