
{% if site.slicer_download_mock_enabled %}

  {% assign download_url = page.download_mock.[release_type].url %}
  {% assign version = page.download_mock.[release_type].version %}
  {% assign revision = page.download_mock.[release_type].revision %}
  {% assign build_date_ymd = page.download_mock.[release_type].built %}

{% else %}

  {% capture download_url %}{% raw %}{{{% endraw %}R.{{ operating_system }}.{{ release_type }}.download_url{% raw %}}}{% endraw %}{% endcapture %}
  {% capture version %}{% raw %}{{{% endraw %}R.{{ operating_system }}.{{ release_type }}.version{% raw %}}}{% endraw %}{% endcapture %}
  {% capture revision %}{% raw %}{{{% endraw %}R.{{ operating_system }}.{{ release_type }}.revision{% raw %}}}{% endraw %}{% endcapture %}
  {% capture build_date_ymd %}{% raw %}{{{% endraw %}R.{{ operating_system }}.{{ release_type }}.build_date_ymd{% raw %}}}{% endraw %}{% endcapture %}

{% endif %}

{% if release_type == "preview" %}
  {% assign css_class = "warning" %}
{% else %}
  {% assign css_class = "" %}
{% endif %}

<td><a href="{{ download_url }}" class="button-download expanded hollow {{ css_class }}">
        <span class="header">{{ version }}</span>
        <br/>revision {{ revision }}
        <br/>built {{ build_date_ymd }}
    </a>
</td>
