<div class="columns  is-vcentered is-centered">
    <div class="column">
      <div class="row has-text-centered">
        <div class="title is-2">{{ page.features_title }}</div>
        <div class="description  is-size-5">{{ page.features_description }}</div>
      </div>
      <div class="container is-flex" style="flex-wrap: wrap;">
        {% for item in page.features_list %}
        <div class="features">
          <img src="assets/img/features-bullets.svg" width="12px"">
          {{ item.item }}
        </div>
        {% endfor %}
      </div>
    </div>
</div>
