<div class="columns  is-vcentered is-centered">
    <div class="column">
      <div class="row has-text-centered">
        <h2>{{ page.functionalities_title }}</h2>
        <p>{{ page.functionalities_description }}</p>
      </div>
      <div class="row">
        {% for item in page.functionalities_list %}
        <div class="functionality-bullet-points">
          <img src="assets/img/functionalities-bullets.svg">
          {{ item.item }} <br>
        </div>
        {% endfor %}
      </div>
    </div>
</div>
