{% if page.animated_navbar %}
<nav class="navbar is-fixed-top" id="animated-header">
{% else %}
<nav class="navbar is-fixed-top">
{% endif %}
    <div class="container">
        <div class="navbar-brand">
            <img src="{{ site.logo_image }}" width="35">
            <a href="{{ '/' | absolute_url }}" class="navbar-item">
                {{ site.title }}
            </a>
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div class="navbar-menu" id="navMenu">
            <div class="navbar-end">
                {% assign title = 'Application' %}
                {% assign items = site.data[site.footer_menu][title].items %}
                {% include navbar-column.html %}

                {% assign title = 'Support' %}
                {% assign items = site.data[site.footer_menu][title].items %}
                {% include navbar-column.html %}

                {% assign title = 'Solutions' %}
                {% assign items = site.data.solutions %}
                {% include navbar-column.html %}

                {% assign title = 'Developers' %}
                {% assign items = site.data[site.footer_menu][title].items %}
                {% include navbar-column.html %}

                {% assign title = 'About' %}
                {% assign items = site.data[site.footer_menu][title].items %}
                {% include navbar-column.html %}
            </div>
        </div>
    </div>
</nav>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
$(window).scroll(function() {
       var scroll = $(window).scrollTop();
       if (scroll > 500) {
         $("#animated-header").addClass("active");
       }
       else {
         $("#animated-header").removeClass("active");
       }
});
</script>
