<div class="container is-fluid internal-page"
{% if page.hero_image %}
style="background: url('{{ page.hero_image | prepend: site.baseurl }}') no-repeat center center; background-size: cover;"
{% endif %}>
    <section class="hero is-small is-bold">
        <div class="hero-body"">
            <div class="container">
                <div class="column is-vcentered is-centered has-text-centered">
                    <h1 class="title has-text-white">{{ page.title }}</h1>
                    <p class="subtitle is-5 has-text-white">{{ page.subtitle }}</p>
                </div>
            </div>
        </div>
    </section>
</div>
