<div>
    <div class="row has-text-centered">
        <div class="title is-2" id="{{ page.solutions_title | strip_html | slugify }}">{{ page.solutions_title }}</div>
        <div class="description is-size-5">{{ page.solutions_description }}</div>
    </div>
    <div>
        <div class="container is-flex" style="flex-wrap: wrap;">
            {% for solution in page.slicer_solutions %}
            <div class="slicer-solution" >
                <div class="columns">
                    <div class="column is-one-third has-text-right has-text-left-mobile">
                        <img src="{{ solution.image }}">
                    </div>
                    <div class="column">
                        <div class="subtitle is-4" style="margin-bottom:0">{{ solution.title }}</div>
                        <hr>
                        <div class="description">{{ solution.description }}</div>
                        <a  href="{{ solution.link }}" class="button is-small">
                            <span class="icon is-small">
                               <i class="{{ page.slicer_solutions_button_icon }}"></i>
                            </span>
                            <span>{{ page.slicer_solutions_button_text }}</span>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>