<div>
    <div class="row has-text-centered">
        <h2>{{ page.solutions_title }}</h2>
        <p>{{ page.solutions_description }}</p>
    </div>
    <div>
        <div class="container is-flex" style="flex-wrap: wrap;">
            {% for solution in page.slicer_solutions %}
            <div style="width:300px; padding-left:50px;">
                <div>
                    <img src="{{ solution.image }}"  width="100">
                </div>
                <h4>{{ solution.title }}</h4>
                <p>{{ solution.description }}</p>
                <a  href="{{ solution.link }}" class="button is-small">
                    <span class="icon is-small">
                       <i class="{{ page.slicer_solutions_button_icon }}"></i>
                    </span>
                    <span>{{ page.slicer_solutions_button_text }}</span>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>