<!DOCTYPE html>
<html>

{% include head.html %}
<body>
{% unless page.hide_navbar %}
    {% include header.html %}
{% endunless %}

<div class="site-wrapper">
  {% include hero-main.html %}
  <section class="section about" id="About-Section">
    <div class="container is-fluid">
      <div class="content">
        {% include about.html %}
      </div>
    </div>
  </section>
  <section class="section features section-shadow">
    <div class="container">
      <div class="content">
        {% include features.html %}
      </div>
    </div>
  </section>
  <section class="section extensions-section">
    <div class="container extensions">
      <div class="content">
        {% include extensions.html %}
      </div>
    </div>
  </section>
  <section class="section solutions-section section-shadow">
    <div class="container">
      <div class="content">
        {% include solutions.html %}
      </div>
    </div>
  </section>
  <section class="section commercial-use-section section-shadow">
    <div class="container">
      <div class="content">
        {% include commercial-use-section.html %}
      </div>
    </div>
  </section>
  <section class="section community-section section-shadow">
    <div class="container">
      <div class="content">
        {% include community.html %}
      </div>
    </div>
  </section>
  <section class="section sitemap section-shadow">
      {% include sitemap.html %}
  </section>
  {% include footer.html %}
</div>
  <script src="{{ site.baseurl }}/assets/js/app.js" type="text/javascript"></script>
  <script src="https://cdn.jsdelivr.net/npm/anchor-js/anchor.min.js"></script>
  <script>anchors.add('.anchored');</script>
</body>

</html>