<!DOCTYPE html>
<html>

{% include head.html %}
<body>
{% unless page.hide_navbar %}
    {% include header.html %}
{% endunless %}

<div class="site-wrapper">
  {% include hero-main.html %}
  <section class="section about" id="About-Section">
    <div class="container">
      <div class="content">
        {% include about.html %}
      </div>
    </div>
  </section>
  <section class="section features section-shadow">
    <div class="container">
      <div class="content">
        {% include features.html %}
      </div>
    </div>
  </section>
  <section class="extensions-section">
    <div class="container is-fluid extensions">
      <div class="content">
        {% include extensions.html %}
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="content">
        {% include solutions.html %}
      </div>
    </div>
  </section>
  <section class="section commercial-use-section-style section-shadow">
    <div class="container">
      <div class="content">
        {% include commercial-use-section.html %}
      </div>
    </div>
  </section>
  <section class="section cards-section">
    <div class="container">
      <div class="content">
        {% include callouts.html %}
      </div>
    </div>
  </section>
  <section class="section sitemap section-shadow">
    <div class="container">
      <div class="content">
        {% include sitemap.html %}
      </div>
    </div>
  </section>
    <section class="footer">
    <div class="container">
      <div class="content">
        {% include footer.html %}
      </div>
    </div>
  </section>
</div>

</body>

</html>